[package]
name = "distant"
description = "Operate on a remote computer through file and process manipulation"
categories = ["command-line-utilities"]
keywords = ["cli"]
version = "0.20.0"
authors = ["Chip Senkbeil <chip@senkbeil.org>"]
edition = "2021"
rust-version = "1.85.0"
homepage = "https://github.com/chipsenkbeil/distant"
repository = "https://github.com/chipsenkbeil/distant"
readme = "README.md"
license = "MIT OR Apache-2.0"

[workspace]
members = [
    "distant-core",
    "distant-host",
    "distant-ssh",
    "distant-test-harness",
]

[workspace.lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(ci)'] }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true

[features]
default = []

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.0", features = ["derive"] }
clap_complete = "4.3.0"
console = "0.15"
config = { version = "0.13.3", default-features = false, features = ["toml"] }
derive_more = { version = "0.99.17", default-features = false, features = ["display", "from", "error", "is_variant"] }
dialoguer = { version = "0.10.4", default-features = false }
distant-core = { version = "=0.20.0", path = "distant-core" }
distant-host = { version = "=0.20.0", path = "distant-host" }
directories = "5.0.1"
file-mode = "0.1.2"
flexi_logger = "0.25.5"
indicatif = "0.17"
indoc = "2.0.1"
log = "0.4.18"
once_cell = "1.17.2"
rand = { version = "0.8.5", features = ["getrandom"] }
rpassword = "7.2.0"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
shell-words = "1.1.0"
service-manager = { version = "0.2.0", features = ["clap", "serde"] }
tabled = "0.12.0"
tokio = { version = "1.28.2", features = ["full"] }
toml_edit = { version = "0.19.10", features = ["serde"] }
terminal_size = "0.2.6"
termwiz = "0.20.0"
typed-path = "0.3.2"
which = "4.4.0"
winsplit = "0.1.0"
whoami = "1.4.0"

# Native SSH functionality (always enabled)
distant-ssh = { version = "=0.20.0", path = "distant-ssh", default-features = false, features = ["serde"] }

[target.'cfg(unix)'.dependencies]
fork = "0.1.21"

[target.'cfg(windows)'.dependencies]
sysinfo = "0.29.0"
windows-service = "0.6.0"

[dev-dependencies]
assert_cmd = "2.1"
assert_fs = "1.0.13"
distant-test-harness = { path = "distant-test-harness" }
env_logger = "0.10.0"
indoc = "2.0.1"
once_cell = "1"
predicates = "3.0.3"
rstest = "0.17.0"
serde_json = "1"
test-log = "0.2.11"
toml = "0.7"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(ci)'] }
