[package]
name = "distant"
description = "Operate on a remote computer through file and process manipulation"
categories = ["command-line-utilities"]
keywords = ["cli"]
version = "0.16.1"
authors = ["Chip Senkbeil <chip@senkbeil.org>"]
edition = "2018"
homepage = "https://github.com/chipsenkbeil/distant"
repository = "https://github.com/chipsenkbeil/distant"
readme = "README.md"
license = "MIT OR Apache-2.0"

[workspace]
members = ["distant-core", "distant-ssh2"]

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1

[features]
default = ["libssh", "ssh2"]
libssh = ["distant-ssh2/libssh"]
ssh2 = ["distant-ssh2/ssh2"]

[dependencies]
derive_more = { version = "0.99.16", default-features = false, features = ["display", "from", "error", "is_variant"] }
distant-core = { version = "=0.16.1", path = "distant-core", features = ["structopt"] }
flexi_logger = "0.18.0"
indoc = "1.0.3"
log = "0.4.14"
once_cell = "1.8.0"
rand = { version = "0.8.4", features = ["getrandom"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
structopt = "0.3.22"
strum = { version = "0.21.0", features = ["derive"] }
sysinfo = "0.23.2"
tokio = { version = "1.12.0", features = ["full"] }
terminal_size = "0.1.17"
termwiz = "0.15.0"
whoami = "1.1.2"

# Optional native SSH functionality
distant-ssh2 = { version = "=0.16.1", path = "distant-ssh2", default-features = false, features = ["serde"], optional = true }

[target.'cfg(unix)'.dependencies]
fork = "0.1.18"

# [target.'cfg(windows)'.dependencies]
# sysinfo = "0.23.2"

[dev-dependencies]
assert_cmd = "2.0.0"
assert_fs = "1.0.4"
indoc = "1.0.3"
predicates = "2.0.2"
rstest = "0.11.0"
