[package]
name = "distant"
description = "Operate on a remote computer through file and process manipulation"
categories = ["command-line-utilities"]
keywords = ["cli"]
version = "0.20.0-alpha.7"
authors = ["Chip Senkbeil <chip@senkbeil.org>"]
edition = "2021"
homepage = "https://github.com/chipsenkbeil/distant"
repository = "https://github.com/chipsenkbeil/distant"
readme = "README.md"
license = "MIT OR Apache-2.0"

[workspace]
members = ["distant-auth", "distant-core", "distant-net", "distant-ssh2"]

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1

[features]
default = ["libssh", "ssh2"]
libssh = ["distant-ssh2/libssh"]
ssh2 = ["distant-ssh2/ssh2"]

[dependencies]
anyhow = "1.0.70"
async-trait = "0.1.68"
clap = { version = "4.2.1", features = ["derive"] }
clap_complete = "4.2.0"
config = { version = "0.13.3", default-features = false, features = ["toml"] }
derive_more = { version = "0.99.17", default-features = false, features = ["display", "from", "error", "is_variant"] }
dialoguer = { version = "0.10.3", default-features = false }
distant-core = { version = "=0.20.0-alpha.7", path = "distant-core", features = ["schemars"] }
directories = "5.0.0"
file-mode = "0.1.2"
flexi_logger = "0.25.3"
indoc = "2.0.1"
log = "0.4.17"
once_cell = "1.17.1"
rand = { version = "0.8.5", features = ["getrandom"] }
rpassword = "7.2.0"
serde = { version = "1.0.159", features = ["derive"] }
serde_json = "1.0.95"
shell-words = "1.1.0"
service-manager = { version = "0.2.0", features = ["clap", "serde"] }
tabled = "0.10.0"
tokio = { version = "1.27.0", features = ["full"] }
toml_edit = { version = "0.19.8", features = ["serde"] }
terminal_size = "0.2.5"
termwiz = "0.20.0"
which = "4.4.0"
winsplit = "0.1.0"
whoami = "1.4.0"

# Optional native SSH functionality
distant-ssh2 = { version = "=0.20.0-alpha.7", path = "distant-ssh2", default-features = false, features = ["serde"], optional = true }

[target.'cfg(unix)'.dependencies]
fork = "0.1.21"

[target.'cfg(windows)'.dependencies]
sysinfo = "0.28.4"
windows-service = "0.6.0"

[dev-dependencies]
assert_cmd = "2.0.10"
assert_fs = "1.0.12"
env_logger = "0.10.0"
indoc = "2.0.1"
predicates = "3.0.2"
rstest = "0.17.0"
test-log = "0.2.11"
