[package]
name = "distant-core"
description = "Core library for distant, enabling operation on a remote computer through file and process manipulation"
categories = ["network-programming"]
keywords = ["api", "async"]
version = "0.16.4"
authors = ["Chip Senkbeil <chip@senkbeil.org>"]
edition = "2018"
homepage = "https://github.com/chipsenkbeil/distant"
repository = "https://github.com/chipsenkbeil/distant"
readme = "README.md"
license = "MIT OR Apache-2.0"

[dependencies]
bitflags = "1.3.2"
bytes = "1.1.0"
chacha20poly1305 = "0.9.0"
ciborium = "0.2.0"
derive_more = { version = "0.99.16", default-features = false, features = ["deref", "deref_mut", "display", "from", "error", "into_iterator", "is_variant"] }
futures = "0.3.16"
hex = "0.4.3"
log = "0.4.14"
notify = { version = "5.0.0-pre.14", features = ["serde"] }
normpath = "0.3.2"
once_cell = "1.8.0"
portable-pty = "0.7.0"
rand = { version = "0.8.4", features = ["getrandom"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
strum = { version = "0.21.0", features = ["derive"] }
tokio = { version = "1.12.0", features = ["full"] }
tokio-util = { version = "0.6.7", features = ["codec"] }
walkdir = "2.3.2"

# Optional dependencies based on features
structopt = { version = "0.3.22", optional = true }

[dev-dependencies]
assert_fs = "1.0.4"
indoc = "1.0.3"
predicates = "2.0.2"
