[package]
name = "distant-core"
description = "Core library for distant, enabling operation on a remote computer through file and process manipulation"
categories = ["network-programming"]
keywords = ["api", "async"]
version = "0.20.0-alpha.7"
authors = ["Chip Senkbeil <chip@senkbeil.org>"]
edition = "2021"
homepage = "https://github.com/chipsenkbeil/distant"
repository = "https://github.com/chipsenkbeil/distant"
readme = "README.md"
license = "MIT OR Apache-2.0"

[features]
schemars = ["dep:schemars", "distant-net/schemars"]

[dependencies]
async-trait = "0.1.68"
bitflags = "2.0.2"
bytes = "1.4.0"
derive_more = { version = "0.99.17", default-features = false, features = ["as_mut", "as_ref", "deref", "deref_mut", "display", "from", "error", "into", "into_iterator", "is_variant", "try_into"] }
distant-net = { version = "=0.20.0-alpha.7", path = "../distant-net" }
futures = "0.3.28"
grep = "0.2.11"
hex = "0.4.3"
ignore = "0.4.20"
log = "0.4.17"
notify = { version = "5.1.0", features = ["serde"] }
num_cpus = "1.15.0"
once_cell = "1.17.1"
portable-pty = "0.8.1"
rand = { version = "0.8.5", features = ["getrandom"] }
regex = "1.7.3"
serde = { version = "1.0.159", features = ["derive"] }
serde_bytes = "0.11.9"
serde_json = "1.0.95"
shell-words = "1.1.0"
strum = { version = "0.24.1", features = ["derive"] }
tokio = { version = "1.27.0", features = ["full"] }
tokio-util = { version = "0.7.7", features = ["codec"] }
walkdir = "2.3.3"
whoami = "1.4.0"
winsplit = "0.1.0"

# Optional dependencies based on features
schemars = { version = "0.8.12", optional = true }

[dev-dependencies]
assert_fs = "1.0.12"
env_logger = "0.10.0"
indoc = "2.0.1"
predicates = "3.0.2"
rstest = "0.17.0"
test-log = "0.2.11"
