name: CI (MacOS)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: "Test Rust ${{ matrix.rust }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { rust: stable, os: macos-latest }
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v1
      - name: Check Cargo availability
        run: cargo --version
      - name: Run core tests (default features)
        run: cargo test --verbose -p distant-core
      - name: Run core tests (all features)
        run: cargo test --verbose --all-features -p distant-core
      - name: Run ssh2 tests (default features)
        run: cargo test --verbose -p distant-ssh2
      - name: Run ssh2 tests (all features)
        run: cargo test --verbose --all-features -p distant-ssh2
      - name: Run CLI tests
        run: cargo test --verbose
        shell: bash
      - name: Run CLI tests (no default features)
        run: cargo test --verbose --no-default-features
        shell: bash
      - name: Run Lua tests
        run: (cd distant-lua && cargo build) && (cd distant-lua-tests && cargo test --verbose)
        shell: bash
